.search{

  margin-bottom: 20px;

  .search__input{
    background: #222;
    height: 40px;
    outline: none;
    width: 100%;
    color: #ddd;
    border:none;
    border-bottom: 1px solid #666;
  }
}